* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 1600px;
    height: 1134px;
    gap: 72px;
    display: flex;
    flex-direction: column;
}

.namePlusInput {
    width: 1600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.namePlusInput h2 {
    width: 288px;
    height: 40px;
    color: #ECE9E9;
    font-family: Oxanium;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.16px;
}

.namePlusInput__divInput {
    width: 312px;
    height: 40px;
    border: 1px solid #484848;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 8px;
}

.namePlusInput__divInput input {
    width: 256px;
    height: 20px;
    flex-shrink: 0;
    background-color: transparent;
    color: #484848;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}



.characterInfo {
    width: 1600px;
    height: 926px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

