* {
    box-sizing: border-box;
    text-decoration: none;
    background: #111;
}

header {
    margin: 0 auto;
    width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 36px;
   
}

.upper_header {
    width: 1600px;
    height: 88px;
    border: 1px solid #272727;
    border-radius: 15px;
    padding: 4px;
    display: flex;
    justify-content: center;
    gap: 556px;
}

.divButtons {
    width: 164px;
    height: 16px;
    display: flex;
    height: 16px;
    align-items: flex-start;
    justify-content: center;
}

.divButtons p a, .divButtons p span {
    padding-left: 8px;
}

.divButtons span {
    color: white;
}

.head__logo {
    width: 164px;
    height: 80px;
    border: 1px solid #2A2A2D;
    border-radius: 11px;
}

.head__ul {
    width: 872px;
    height: 80px;
    display: flex;

    gap: 4px;
   
}

.head__ul li {
    width: 184px;
    height: 80px;
    padding: 28px 48px;
    border: 1px solid #2A2A2D;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.head__ul li:last-child {
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
}

.head__ul a {
    color: #ECE9E9;
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}








