
.footer {
    display: flex;
    width: 1600px;
    height: 204px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 15px;
    border: 1px solid #2A2A2D;
    background: #272727;

    color: #ECE9E9;

}

.frame42 {
    display: flex;
    width: 1600px;
    padding: 24px 0px 0px 24px;
    align-items: flex-start;
    gap: 360px;
    flex-shrink: 0;
}

.infoPlusPlaceholder {
    display: flex;
    width: 1052px;
    padding: 0px 160px 40px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 240px;
    flex-shrink: 0;
}

.info {
    width: 328px;
    height: 140px;
    flex-shrink: 0;
    gap: 124px;
    display: flex;
}

.subscribeForNews {
    width: 324px;
    height: 124px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContent {
    display: flex;
    width: 144px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.text {
    width: 144px;
    height: 24px;

    color: #ECE9E9;

    /* 1920/H2 */
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.frame4 {
    display: flex;
    width: 144px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    

        /* 1920/H6 */
        font-family: Oxanium;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}

a {
    text-decoration: none;
    color:#ECE9E9;
}

.extra {
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.extra .text {
    width: 50px;
    height: 24px;
}

.frame5 {
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.subscribeForNews h2 {

    width: 180px;
    height: 24px;
    flex-shrink: 0;
    

    color:#ECE9E9;
    text-align: center;

    /* 1920/H2 */
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputEnter {
    display: flex;
    width: 324px;
    height: 40px;
    padding: 8px 9px 8px 8px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: 1px solid #484848fa;
    border-radius: 6px
    
}

.inputFooter {
    border: 1px solid #48484800;
    background-color: inherit;
    outline: none;
    width: 275px;
    height: 20px; 
}

.arrowButton {
    color: #fff;
    background-color: #9937eb;
    border: 1px;
    border-radius: 6px
}