@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

.App {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    /* margin-left: 40px; */
    font-family: Oxanium;
}
